@font-face {
    font-family: 'Uefa Euro Bold';
    src: url('./assets/fonts/UEFAEuro-Bold/UEFAEuro-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Uefa Euro Book';
    src: url('./assets/fonts/UEFAEuro-Book/UEFAEuro-Book.ttf') format('truetype');
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Uefa Euro Book', Arial, sans-serif;
}

body {
    background-color: #111111;;
    color: #ffffff;
}

.nav-link {
    color: #FFFF;
}

.navbar-nav .nav-link.active {
    color: #f4d771;
}

.nav-link:hover {
    color: #FFCB00;
}

.titulo-pagina {
    animation-duration: 0.5s;
    font-family: 'Uefa Euro Bold', Arial, sans-serif;
    text-align: center;
}

.rounder {
    display: flex;
}

.conteudo-tabela {
    display: flex;
    flex-direction: column;
}

#dynamicMenu {
    background-image: url("https://i.ibb.co/LXtfFfxy/World-Cup-Club-HORIZONTAL.png");
    /* Caminho para a imagem */
    background-size: auto 60px;
    /* Ajusta o tamanho da imagem */
    background-repeat: no-repeat;
    /* Evita a repetição da imagem */
    background-position: 10px center;
    /* Posiciona a imagem à esquerda */
    padding: 10px;
    /* Adiciona espaço ao redor do conteudo */
    display: flex;
    justify-content: end;
    z-index: 3;
    height: 70px;
}

.sheets {
    height: 170vh; /*235vh total*/
}

.bg-cards {
    background: #000000;
    color: white;
}

.card-title {
    font-family: 'Uefa Euro Bold', Arial, sans-serif;
    text-align: center;
}


.bg-primary {
    background-color: #000000!important;
}

.btn-primary {
    background: #f4d771 !important;
    color: #000000;
    border: 0;
}

.btn-primary:hover {
    background: #f9bf4b !important;
    color: #143cdb;
}

.cards {
    gap: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    border: 0px;
    width: 10rem;
    text-align: justify;
}

.icones {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 1260px) {
    .card {
        width: 25rem;
    }
}

@media only screen and (min-width: 875px) and (max-width: 1259px) {
    .card {
        width: 16rem;
    }

    #frame-tabela {
        height: 350vh;
    }
    
    .geral {
        /* height: 370vh; */
    }
/*     .sheets {
        height: 200vh;
    } */
}

@media only screen and (min-width: 575px) and (max-width: 875px) {
    .card {
        width: 15rem;
    }
}

@media only screen and (max-width: 574px) {
    .card {
        width: 20rem;
        display: flex;
        flex-wrap: wrap;
    }
    #countdown {
        font-size: 2em !important;
        font-weight: bold;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}


/* Estilo para o footer */
.footer {
    background-color: #000000;
    /* Cor de fundo */
    height: 70px;
    display: flex;
    align-items: center;
}

/* Estilo para o texto do footer */
.footer-text {
    display: block;
    color: white;
    /* Cor do texto */
    text-align: center;
    /* Alinhamento central */
    padding: 10px;
    /* Espaçamento interno */
}

.titulo-bloco {
    text-align: center;
    font-weight: 600;
}

.img-hall {
    display: flex;
    justify-content: center;
    height: 325vh;
}

@media (max-width: 574px) {
    .img-hall {
        height: 295vh;
    }
}

/* .hidden {
    display: none;  
} */

.visible {
    display: none;
}
/* #countdown {
    font-size: 5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
} */

#frame-tabela {
    height: 370vh;
}

/* .geral {
    height: 20vh;
} */